{
  "extends": ["eslint:recommended", "plugin:flowtype/recommended"],
  "plugins": ["babel", "flowtype"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "babel/new-cap": 0,
    "babel/no-invalid-this": 1,
    "semi": [2, "never"],
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }],
    "no-extra-boolean-cast": 0
  }
}
